<h1 class="display-4">Edit Category</h1>
<form method="post" action="/categories/update/<%= category.id %>">
	<div class="form-group">
		<label for="categoryName">Category's name:</label>
		<input type="text" name="categoryName" class="form-control" value="<%= category.categoryName %>">
	</div>
	<div class="form-group">
		<label for="description">Description:</label>
		<textarea name="description" class="form-control"><%= category.description %></textarea>
	</div>
	<input type="submit" value="Save" class="btn btn-primary">
</form>