<h1 class="display-4">Welcome to categories list</h1>
<p class="mb-4">This will manage a list of categories</p>
<a href="/categories/categoriesPage" class="btn btn-primary">Show Categories</a>
<a href="/categories/addCategory" class="btn btn-dark">Add Category</a>